.mat-radio-button {
    display: table;
    margin: 15px;
}

.mat-card-content {
    margin: 0 8px;
    overflow: hidden;
}

/deep/ .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: rgb(66, 134, 244);
}

/deep/ .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: rgb(66, 134, 244);
}

/deep/ .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color:rgba(66, 134, 244,.26);
}

.mat-raised-button {
    margin: 10px 0;
    float: right;
}
